pre {
    color: blue;
	text-align: justify;
	font-family: "Times New Roman";
	//valign:top;
	//margin-left: 20px;
	padding-left:20px;
	word-spacing:5px;
}
.block{
	width:100%;
	height: auto;
	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	//background: #00b33c;
	color:blue;

}
.main{
	font-family: 'Noto Serif', serif;
	word-spacing:5px;
}